<div class="container">
  <div class="uniform">
    <h1>beniform</h1>
    <p>L'inscription devient plus simple</p>
    <hr>
    <ul>
      <li>Un seul form pour se logguer</li>
      <li>Des feuilles de styles encapsulées</li>
      <li>Stocker des données</li>
    </ul>
  </div>
  <div class="description">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Se connecter" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>